<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Doctor</title>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
	<th:block th:insert="Header.html"></th:block>
	<div class="container-fluid">

		<div class="card">

			<div class="card-header bg-primary text-center text-white">
				<h5>Doctor Details</h5>
			</div>

			<div class="card-body">
				<form action="/doctor" method="post">
					<div class="row p-2">
						<div class="col-4">Doctor Name</div>
						<div class="col-6">
							<input type="text" name="name" class="form-control">
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Doctor Email</div>
						<div class="col-6">
							<input type="email" name="email" class="form-control">
						</div>
					</div>
					
					<div class="row p-2">
						<div class="col-4">Doctor Password</div>
						<div class="col-6">
							<input type="password" name="password" class="form-control">
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Doctor Address</div>
						<div class="col-6">
							<input type="text" name="address" class="form-control">
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Doctor Specialization</div>
						<div class="col-6">
							<select name="specialization" class="form-control">
								<option value="">--- Select Specialization ---</option>
								<option th:each= "s: ${sList}" th:value="${s.id}">[[${s.name}]]</option>
								
							</select>
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Doctor Phone number</div>
						<div class="col-6">
							<input type="text" name="mobile" class="form-control">
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Doctor Gender</div>
						<div class="col-6">
							<select name="gender" class="form-control">
								<option value="">--- Select Gender ---</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">Doctor Note</div>
						<div class="col-6">
							<textarea name="note" rows="4" cols="95"></textarea>
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Add" class="btn btn-success">
						</div>
					</div>
				</form>

			</div>

			<div class="card-footer  bg-warning text-center ">hms@2024</div>


		</div>


	</div>


</body>
</html>