<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Make Appointment Form</title>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
	<th:block th:insert="Header.html"></th:block>
	<div class="container-fluid">

		<div class="card">

			<div class="card-header bg-primary text-center text-white">
				<h5>Make Appointment</h5>
			</div>

			<div class="card-body">



				<form action="/appointment" method="post">

					<div class="row p-2">
						<div class="col-4">Patient</div>
						<div class="col-6">
							<select name="patientname" class="form-control">
								<option value="">--- Select Patient name ---</option>
								<option th:each="p : ${pList}" th:value="${p.name}">[[${p.name}]]</option>
							</select>
						</div>
					</div>



					<div class="row p-2">
						<div class="col-4">Doctor</div>
						<div class="col-6">
							<select name="doctorname" class="form-control">
								<option value="">--- Select Doctor Name ---</option>
								<option th:each="d : ${dList}" th:value="${d.name}">[[${d.name}]]</option>
							</select>
						</div>
					</div>



					<div class="row p-2">

						<div class="col-4">Date</div>
						<div class="col-6">
							<input type="date" name="date" class="form-control">
						</div>

					</div>

					<div class="row p-2">
						<div class="col-4">Available no. of Slots</div>
						<div class="col-6">
							<input type="text" name="slots" class="form-control"
								th:value="${availableSlots}" readonly>
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Consultation Fee</div>
						<div class="col-6">
							<input type="text" name="fee" class="form-control" value="825"
								readonly>
						</div>
					</div>


					<div class="row p-2">
						<div class="col-4">Details</div>
						<div class="col-6">

							<textarea name="details" rows="4" cols="95"></textarea>

						</div>
					</div>

					<div class="row p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Add" class="btn btn-success">
						</div>
					</div>



				</form>

			</div>

			<div class="card-footer  bg-warning text-center ">hms@2024</div>


		</div>


	</div>


</body>
</html>